<h1>Get a login code</h1>

<p>We'll email you a login code so we can securely get you to your account</p>

<%= form_with model: @email_authentication, url: url_for(action: :create), data: { turbo: false } do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.submit "Continue" %>
  </div>
<% end %>
