<p>Click the link below to sign in. Make sure to open it in the same browser you used to request this email.</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>If you didn&apos;t request this email, you can safely ignore it. This link expires in 10 minutes.</p>
