<h1>Verification link sent</h1>

<p>Look for a verification link in the inbox or spam folder.</p>

<p>
  Launch
  <%= link_to "Gmail", "https://gmail.com/", target: "_blank" %>
  |
  <%= link_to "Outlook", "https://outlook.live.com/", target: "_blank" %>
  |
  <%= link_to "Yahoo Mail", "https://mail.yahoo.com/", target: "_blank" %>
</p>
