name: Ruby

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ["3.3", "3.4"]
        rails-version: ["rails-7.2", "rails-8.0", "rails-8.1"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Install Appraisal dependencies
        run: bundle exec appraisal ${{ matrix.rails-version }} bundle install
      - name: Run tests
        run: bundle exec appraisal ${{ matrix.rails-version }} rspec
